---
import BulletedList from "../BulletedList.astro";
import Section from "../layout/Section.astro";
import TechnologiesList from "../TechnologiesList.astro";

interface IRole {
  jobTitle: string;
  dateRange: string;
  company: string;
  roleExperience: string[];
  technologies: string[];
}

const roles: IRole[] = [
  {
    
    jobTitle: "Software engineer",
    dateRange: "2021 - Present",
    company: "London Borough of Hackney",
    roleExperience: [
      "Developed and maintained a complex housing management and repair system, reducing paperwork, enabling analytics and improving user  efficiency",
      "Collaborated with a small team to migrate a legacy MS Access database to a Next.js application, enhancing data resilience and eliminating a single point of failure",
      "Developed and integrated S3-based file upload and management functionality into the repairs system, removing the reliance on a Google Form simplifying processes and facilitating further system improvements",
      "Consolidated a long-standing unreliable SOAP integration into a dependable and stable system",
      "Led the development of a back-office system to automate developer tasks, allowing support staff to assume these tasks, resulting in substantial time savings for developers",
      "Guided and mentored less experienced team members, fostering their growth and contributing to team success",
    ],
    technologies: [
      ".NET",
      "React",
      "Next.js",
      "AWS",
      "Terraform",
      "CircleCI",
      "Postgres",
      "Typescript",
    ],
  },
  {
    jobTitle: "Web developer",
    dateRange: "2019 - 2021",
    company: "Colchester Borough Council",
    roleExperience: [
      "Developed an accessible and printable recycling calendar, eliminating £50,000 in yearly printing costs",
      "Collaborated with a designer to overhaul the accessibility and user experience of an outdated council website, significantly enhancing usability and creating a more inclusive experience for residents",
      "Leveraged the MS Dynamics SDK to develop an API, implementing enhancements and custom features to address limitations beyond the default capabilities",
      "Integrated image upload and hosting with Azure Blob Storage, significantly reducing server load and reducing image loading speed on the website, enhancing overall user experience.",
      "Transitioned the development environment from Gulp to Webpack, improving code sharing and reduced bundle sizes, increasing page loading performance",
      "Conducted cross-browser testing using various tools to ensure compatibility across multiple browsers, including Internet Explorer 11, enabling a consistent user experience across all browsers",
      "Enhanced the search experience with Algolia and leveraged analytics to identify and resolve UX issues",
    ],
    technologies: [
      "JavaScript",
      "HTML/SCSS",
      "Vue.js",
      "C#",
      "Microsoft Dynamics",
      "Azure",
    ],
  },
];
---

<Section heading="Experience">


  <!-- <div class="w-full max-w-3xl mx-auto"> -->
                
    <!-- Vertical Timeline #1 -->
    <div class="-my-6">


      {
        roles.map((role) => (
        <!-- Item #1 -->
        <div class="relative pl-8 md:pl-32 pt-6 group">
            <!-- Purple label -->
            {/* <div class="font-caveat font-medium text-2xl text-indigo-500 mb-1 md:mb-0">The origin</div> */}
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div class="flex flex-col md:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 md:before:left-0 before:h-full before:px-px before:bg-slate-300 md:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 md:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-900 after:rounded-full md:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5
            

            ">
                <time class="md:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-sm font-semibold w-20 h-6 mb-3 md:mb-0 text-slate-500 rounded-full whitespace-nowrap">{role.dateRange}</time>
                {/* <div class="text-xl font-bold text-slate-900">Acme was founded in Milan, Italy</div> */}
            </div>
            <!-- Content -->

            <h3 class="text-xl text-slate-100 mb-4">
          {role.jobTitle} - {role.company}
        </h3>

        <BulletedList 
          items={role.roleExperience}
        />

        <TechnologiesList 
          technologies={role.technologies}
        />


            {/* <div class="text-slate-500">Pretium lectus quam id leo. Urna et pharetra pharetra massa massa. Adipiscing enim eu neque aliquam vestibulum morbi blandit cursus risus.</div> */}
        </div>
        ))
      }



       
        
      
    </div>
    <!-- End: Vertical Timeline #1 -->
    
<!-- </div> -->


  <!-- {
    roles.map((role) => (
      <div>
        <h3 class="text-3xl text-slate-100 mb-8">
          {role.jobTitle} . {role.company}
        </h3>

        <ul class="text-slate-400 flex flex-col list-disc pl-8 leading-7">
          {role.roleExperience.map((x) => (
            <li class="mb-4">{x}</li>
          ))}
        </ul>

        <ul class="flex flex-wrap mt-4 mb-8 items-center">
          {role.technologies.map((x) => (
            <li class="text-md text-slate-300 bg-slate-950 px-3 py-1 rounded-2xl mr-2 mb-2">
              {x}
            </li>
          ))}
        </ul>
      </div>
    ))
  } -->
</Section>
