---
import BulletedList from "../BulletedList.astro";
import Section from "../layout/Section.astro";
import LinkWithIcon from "../LinkWithIcon.astro";
import TechnologiesList from "../TechnologiesList.astro";

interface IProject {
  projectTitle: string;
  liveUrl: string;
  github: string;
  technologies: string[];
  keyTakeAways: string[];
}

const projects: IProject[] = [
  {
    projectTitle: "Time tracking app",
    liveUrl: "https://timer-app.thecallum.com/",
    github: "https://github.com/thecallum/timer_app_frontend",
    technologies: [
      "Next.js",
      ".NET",
      "Postgres",
      "Entity Framework",
      "Tailwind",
      "AWS",
      "Auth0",
      "Playwright",
    ],
    keyTakeAways: [
      "Architected and implemented a calendar-based time-tracking app, enabling users to effectively analyze and optimize their time management",
      "Integrated Auth0 for seamless and secure user authentication",
      "Established a robust CI/CD pipeline with CircleCI, facilitating automated, serverless deployments and enhancing development agility",
      "Developed a comprehensive suite of integration tests with Playwright, ensuring high reliability and performance of the application",
    ],
  },
];
---

<Section heading="Projects">
  {
    projects.map((project) => (
      <div>
        <h3 class="text-xl text-slate-100 mb-4 font-semibold">
          {project.projectTitle}
        </h3>

        <BulletedList items={project.keyTakeAways} />
        <TechnologiesList technologies={project.technologies} />

        <ul class="flex mb-4 lg:mb-6 leading-7  text-sm text-slate-300 flex-row">
          <li class="mt-2 text-md content-[''] lg:text-lg">
            <LinkWithIcon href={project.liveUrl}>Live Demo</LinkWithIcon>
          </li>

          <li class="mt-2 text-md content-[''] lg:text-lg ml-2">
            <LinkWithIcon href={project.github}>GitHub Repository</LinkWithIcon>
          </li>
        </ul>
      </div>
    ))
  }
</Section>
